/* Foundations */
body,
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: azo-sans-web, sans-serif;
  color: whitesmoke;
}

::-moz-selection {
  background: whitesmoke;
  color: #282828;
}

::selection {
  background: whitesmoke;
  color: #282828;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Custom Cursor */
.cursor {
  width: 34px;
  height: 34px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  transition: 0.1s ease-out;
}

.condense {
  transform: scale(.3);
  border-width: 17px;
}

@media screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}

/* Anchor Links */
a {
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link {
  padding-bottom: 1px;
  border-bottom: 1px solid whitesmoke;
  transition: 0.3s ease-in-out;
}

.link:hover {
  border-color: rgba(245, 245, 245, 0);
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

p {
  font-size: calc(1em + 0.1vw);
  line-height: 1.8rem;
}

/* Titles */
h1 {
  font-size: calc(7.5vw + 2rem);
  margin: 0;
}

h1 span {
  display: inline-block;
}

h2 {
  font-size: 5rem;
  margin: 0;
  font-family: satisfy, sans-serif;
  line-height: 1;
}

h3 {
  font-size: 19px;
}

h4 {
  font-family: satisfy, sans-serif;
  margin: 0 5vw;
  font-size: calc(1.5vw + 1.5rem);
  text-align: center;
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: calc(3vw + 2.5rem);
  }
}

/* Layout Sections */
.grid {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  min-height: 100%;
}

.container {
  grid-column: 2;
  margin: 50px 0;
  align-self: center;
}

.container span {
  content: "";
  width: 130px;
  height: 1px;
  background: whitesmoke;
  display: inline-block;
  margin: 40px 0 30px;
  text-align: right;
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 5% 1fr 5%;
  }

  #fp-nav {
    display: none;
  }
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

@media screen and (max-width: 1129px) {
  .columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

/* Section 0 - Intro */
#intro {
  background-image: url(../images/backgrounds/bg-intro-dark.jpg);
  background-size: cover;
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.scroll span {
  content: "";
  width: 1px;
  height: 50px;
  background: whitesmoke;
  display: block;
  margin: 20px auto 0;
}

/* Section 1, 2, 3 - La Maison */
#maison {
  background-image: url(../images/backgrounds/bg-maison-dark.jpg);
  background-size: cover;
}

#cozy {
  background-image: url(../images/backgrounds/bg-cozy-dark.jpg);
  background-size: cover;
  background-position: center;
}

#jardin {
  background-image: url(../images/backgrounds/bg-jardin-dark.jpg);
  background-size: cover;
  background-position: top;
}

#maison p,
#cozy p,
#jardin p,
#reservations p {
  max-width: 50%;
}

@media screen and (max-width: 850px) {
  #maison p,
  #cozy p,
  #jardin p {
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  #reservations p {
    max-width: 100%;
  }
}

/* Section 4 - Photos */
.s0,
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7,
.s8,
.s9 {
  background-size: cover;
  background-position: center;
}

.s0 {
  background-image: url(https://www.terrefete.com/assets/images/terrasse4.jpg);
}

.s1 {
  background-image: url(https://www.terrefete.com/assets/images/terrasse2.jpg);
}

.s2 {
  background-image: url(https://www.terrefete.com/assets/images/cuisine2.jpg);
}

.s3 {
  background-image: url(https://www.terrefete.com/assets/images/sejour3.jpg);
}

.s4 {
  background-image: url(https://www.terrefete.com/assets/images/sejour1.jpg);
}

.s5 {
  background-image: url(https://www.terrefete.com/assets/images/salledebain1.jpg);
}

.s6 {
  background-image: url(https://www.terrefete.com/assets/images/chambre1.jpg);
}

.s7 {
  background-image: url(https://www.terrefete.com/assets/images/jardin6.jpg);
}

.s8 {
  background-image: url(https://www.terrefete.com/assets/images/jardin4.jpg);
}

.s9 {
  background-image: url(https://www.terrefete.com/assets/images/jardin5.jpg);
}

/* Section 5 - Les Environs */
#environs {
  background-image: url(../images/backgrounds/bg-environs-dark.jpg);
  background-size: cover;
}

/* Section 6 - En Montagne */
#montagne {
  background-image: url(../images/backgrounds/bg-montagne-dark.jpg);
  background-size: cover;
}

/* Section 7 - Réservations */
#reservations {
  background-image: url(../images/backgrounds/bg-reservations-dark.jpg);
  background-size: cover;
  background-position: bottom;
}

/* Footer */
footer {
  position: absolute;
  bottom: 5px;
  left: 5%;
  right: 5%;
  border-top: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: default;
}

footer p, footer a {
  font-size: 15px;
  margin: 10px 0;
  color: rgba(245, 245, 245, 0.9);
}

footer a:hover {
  color: white;
  transition: .3s;
}

@media screen and (max-width: 582px) {
  #reservations .container {
    margin: 50px 0 150px;
  }
}

@media screen and (max-width: 385px) {
  #reservations .container {
    margin: 50px 0 200px;
  }

  footer {
    justify-content: center;
  }
}