html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: var(--font);
  color: var(--font-color);
}

::-moz-selection {
  background: var(--font-color);
  color: var(--background);
}

::selection {
  background: var(--font-color);
  color: var(--background);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

:root {
  --background: #eeeeee;
  --font-color: #222222;
  --font: adobe-garamond-pro, serif;
}

p,
a,
ul,
blockquote {
  font-size: calc(1rem + 0.2vw);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid var(--font-color);
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

a:hover {
  border-color: rgba(34, 34, 34, 0);
}

ul {
  list-style: none;
}

ul li {
  padding: 0.5em 0;
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  font-style: italic;
}

h2 {
  font-size: calc(1.2rem + 0.8vw);
  font-style: italic;
  margin-bottom: 0;
}

h3 {
  font-size: calc(0.6rem + 0.2vw);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

header {
  position: absolute;
  top: 0;
  right: 5vw;
  left: 5vw;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content 1fr max-content;
  grid-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

header > :nth-child(2),
header > :nth-child(4) {
  width: 100%;
  height: 1px;
  background-color: var(--font-color);
}

header .logo {
  font-size: calc(2rem + 1vw);
  font-family: fave-script-pro, sans-serif;
  cursor: default;
}

@media (max-width: 600px) {
  header {
    -ms-grid-columns: max-content 1fr max-content;
        grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
        grid-template-columns: max-content 1fr max-content;
    grid-gap: 2em;
  }
  header > p:first-child {
    display: none;
  }
  header > :nth-child(2) {
    display: none;
  }
  header > p:last-child {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

main {
  padding: calc(100px + 5vh) 5vw 0 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 3vw;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .coordinates {
  text-align: right;
}

main .coordinates p:first-child {
  font-size: calc(1.3rem + 1vw);
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
}

@media (max-width: 1227px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 5vh;
  }
  main .coordinates {
    text-align: left;
  }
  main section:nth-child(2) {
    grid-column: unset;
  }
  main section:nth-child(3) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 414px) {
  main {
    margin-bottom: 10vh;
  }
}

section:nth-child(1) ul {
  border-left: 1px solid var(--font-color);
}

section:nth-child(1) ul li {
  font-style: italic;
}

section:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

section:nth-child(2) figure {
  width: 100%;
  height: 70vh;
  margin: 0;
}

section:nth-child(2) figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section:nth-child(3) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section:nth-child(3) ul {
  padding-left: 0;
}

.btm-section {
  position: absolute;
  right: 0;
  left: 0;
  height: 150px;
}

.btm-section > p {
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}

.btm-section div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btm-section div h1 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: normal;
}

@media (max-width: 1227px) {
  .btm-section > p {
    display: none;
  }
  .btm-section div {
    width: 75vw;
  }
}

@media (max-width: 784px) {
  .btm-section div {
    width: 65vw;
  }
  .btm-section div h1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (max-width: 414px) {
  .btm-section {
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: var(--background);
    border-top: 1px solid var(--font-color);
  }
  .btm-section div {
    position: fixed;
    bottom: unset;
    top: 96vh;
    width: 55vw;
  }
  .btm-section div h1 {
    display: none;
  }
}

.counter {
  position: absolute;
  left: calc(5vw + 1.1em);
  height: 150px;
}

.counter p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.counter p span:first-child {
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 0 0.5em;
  background-color: var(--font-color);
}

@media (max-width: 1227px) {
  .counter {
    display: none;
  }
}

nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 150px;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav img {
  cursor: pointer;
  width: 50px;
}

@media (max-width: 1227px) {
  nav {
    width: 90vw;
  }
}

@media (max-width: 414px) {
  nav {
    position: fixed;
    bottom: 2vh;
    height: auto;
    width: 90vw;
  }
}

#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 0 1em;
  height: 70vh;
  overflow-y: scroll;
}

#gallery figure {
  height: auto;
}

main section:nth-child(1) h2,
main section:nth-child(1) h3,
main section:nth-child(1) p,
main section:nth-child(1) blockquote,
main section:nth-child(1) li {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: slide-bottom 0.8s forwards cubic-bezier(0, 0.55, 0.45, 1);
          animation: slide-bottom 0.8s forwards cubic-bezier(0, 0.55, 0.45, 1);
}

main section:nth-child(1) h3 {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

main section:nth-child(1) p {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

main section:nth-child(1) li {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

main section:nth-child(2) figure {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-animation: slide-in 1s forwards cubic-bezier(0.33, 1, 0.68, 1);
          animation: slide-in 1s forwards cubic-bezier(0.33, 1, 0.68, 1);
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

main section:nth-child(3) h2,
main section:nth-child(3) h3,
main section:nth-child(3) p,
main section:nth-child(3) blockquote,
main section:nth-child(3) li {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation: slide-bottom 0.8s forwards cubic-bezier(0, 0.55, 0.45, 1);
          animation: slide-bottom 0.8s forwards cubic-bezier(0, 0.55, 0.45, 1);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

main section:nth-child(3) h3 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

main section:nth-child(3) p {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

main section:nth-child(3) blockquote {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

main section:nth-child(3) li {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.btm-section div p:first-child {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: slide-left 0.6s forwards cubic-bezier(0, 0.55, 0.45, 1);
          animation: slide-left 0.6s forwards cubic-bezier(0, 0.55, 0.45, 1);
}

.btm-section div p:last-child {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: slide-right 0.3s forwards cubic-bezier(0, 0.55, 0.45, 1);
          animation: slide-right 0.3s forwards cubic-bezier(0, 0.55, 0.45, 1);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes slide-in {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */